body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Background colour adjusted to better colour contrast with texts */
.past {
  background-color: #8A8783;
  color: white;
}
/* Background colour adjusted to better colour contrast with texts */
.present {
  background-color: #C62923;
  color: white;
}
/* Background colour adjusted to better colour contrast with texts */
.future {
  background-color: #88A242;
  color: white;
}
/* Background colour adjusted to better colour contrast with texts */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #4a90a0;
  color: white;
}
/* adjusted so that when whole button is hover, it has the hover effect */
.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* styling for 'task saved' message */
#msg {
  color: rgb(69, 128, 71);
  font-weight: bold;
  height: 30px;
  text-align: center;
  margin-top: 8px;
}